:root {
  font-family: "Inter", system-ui, sans-serif;
  color-scheme: light;
  color: #0f172a;
  background-color: #f8fafc;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

button {
  font-family: inherit;
}
